body {
    height: 100vh; 
    margin: 0; 
    background-color: #000000; 
    background-image: 
        radial-gradient(circle at 45% 20%, rgba(0, 0, 0, 0.123), transparent 10%),
        radial-gradient(circle at 40% 78%, rgba(0, 0, 0, 0.123), transparent 10%),
        radial-gradient(circle at 45% 20%, rgba(255, 0, 0, 0.28), transparent 50%),
        radial-gradient(circle at 40% 84%, rgba(255, 0, 0, 0.27), transparent 50%),
        radial-gradient(circle at 130% 50%, rgba(255, 0, 0, 0.582), transparent 40%),
        radial-gradient(circle at -6% -6%, rgba(255, 0, 0, 0.28), transparent 20%),
        radial-gradient(circle at 94% 115%, rgba(255, 0, 0, 0.171), transparent 17%);
    background-blend-mode: normal; 
    background-attachment: fixed;
    color: rgba(240, 248, 255, 0.582);
    font-family: Alumin;
}
.play_c{
    min-width: 400px;
    min-height: 34px;
    width: 35%;
    height: 4.7%;
    position: fixed; 
    left: 50%; 
    bottom: 0px; 
    transform: translateX(-50%);
    background-color: #ff000011; 
    background-image: 

    radial-gradient(circle at 50% 20%, rgba(255, 0, 0, 0.055), transparent 50%);
    border-top-right-radius: 50px; 
    border-top-left-radius: 50px;
}

.p_bar{
    
    height: 27%;
    width: 72%;
    position: absolute; 
    left: 50%; 
    top: 0%; 
    transform: translateX(-50%);
    appearance: none; 
    background-color: #5c50503f;
    border-radius: 15%;
}

.p_bar::-webkit-progress-value {
    background-color: #ff0000; 
    border-radius: 5px; 
}


.p_bar::-webkit-progress-bar {
    width: 95%;
    height: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: #b11f1f; 
    border-radius: 5px; 
}

.p_bar::-moz-progress-bar {
    background-color: #db3434; 
}


.p_bar::-ms-fill {
    background-color: #db3434; 
    border-radius: 5px; 
}

.replay , .dislike , .previous , .play , .next , .like , .shuffle {
    background: transparent;
    border: none;
    height: 42%;
    position: absolute;
    bottom: 12%;
    
}

.replay_img , .dislike_img , .previous_img , .play_img , .next_img , .like_img , .shuffle_img {
    width: 100%;
    height: 100%;
}

.replay{
    left: 6%;
    transition: filter 0.4s;
}

.replay:hover{
    filter: drop-shadow(0 0px 2px rgb(255, 0, 0));
}

.shuffle{
    left: 86%;
    transition: filter 0.4s;
}

.shuffle:hover{
    filter: drop-shadow(0 0px 2px rgb(255, 0, 0));
}

.play{
    left: 45%;
    transition: filter 0.4s;
}

.play:hover{
    filter: drop-shadow(0 0px 2px rgb(255, 0, 0));
}

.previous{
    left: 36%;
    bottom: 14%;
    height: 36%;
    transition: filter 0.4s;
}

.previous:hover{
    filter: drop-shadow(0 0px 2px rgb(255, 0, 0));
}

.next{
    left: 54.5%;
    bottom: 13%;
    height: 37%;
    transition: filter 0.4s;
}

.next:hover{
    filter: drop-shadow(0 0px 2px rgb(255, 0, 0));
}

.dislike{
    left: 22%;
    height: 41%;
    transition: filter 0.4s;
}

.dislike:hover{
    filter: drop-shadow(0 0px 2px rgb(255, 0, 0));
}

.like{
    left: 68%;
    height: 41%;
    transition: filter 0.4s;
}

.like:hover{
    filter: drop-shadow(0 0px 2px rgb(255, 0, 0));
}

.music_list{
    width: 100%;
    height: 100%;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 2.5%;
    row-gap: 10%;
    padding-top: 4%;
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 24%;
    font-size: 14px;
}


.grid-item img {
    width: 100%; 
    height: auto; 
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    
}

.grid-item{
    background-color: rgba(121, 118, 118, 0.11);
    border-radius: 20px;
    text-align: center;
    line-height: 0;

}

.min, .sec {
    font-family: system-ui;
    transform: translateY(0px);  
    margin: 0;
    font-size: 16px;
    font-weight: 200;

}

.min{
    
    transform: translate(-40% , -3px);

}

.sec{

    transform: translate(40% , -3px);

}

.title{
    font-family: system-ui;
    padding-top: 5%;
    font-size: 14px;
    transform: translateY(-4px);
    font-weight: 300;

}

.singer{
    font-family: system-ui;
    font-size: 11px;
    transform: translateY(1px);
    color: rgb(173, 176, 179);
    padding-bottom: 5%;
}

.menu{
    
    border: none;
    background-color:#f0dada00;

}

.menu_img{

    width: 100%;
    height: auto;

}